{{>nav}}

<style>
    .review{
        background-color:maroon;
        /*background-image: url("/public/images/202978.jpg");*/
    }
    .center{
    display:flex; 
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    /*border:2px solid #333;*/
    /*padding:15px 10px;*/
    justify-content:center;
    }
    body{
        /*background-color: grey;*/
        background-image: url("/images/202978.jpg");
        height: 500px;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    textarea{
        border: none;
        border-bottom: 2px solid #aaa;
        background-color: transparent;
        resize: none; 
        outline: none;
        transition: .5s;
    }
    input[type="submit"], button{
        padding: 10px 15px;
        border: none;
        outline:none;
        border-radius: 5px;
        text-transform:uppercase; 
        font-weight:bold;
        cursor:pointer;
    }
    input[type="submit"]{
        color: red;
        background-color: #273c75;
    }
    button{
        color: black;
        background-color:transparent;
    }
    .reviewContainer
    {
        margin: auto;
        width: 50%;
        border: 12px solid black;
        padding: 10px;
        border-style:groove;
        border-width:8px;
        /*flex:;*/
    }
    .miniContainer{
        margin: auto;
        background-color:navy;
        /*width: 50%;*/
        border: 50px solid black;
        padding: 2px;
        border-style:dotted;
        border-width:3px;
    }
    .miniContainer2{
        margin: auto;
        background-color:#374c9e;
        /*width: 50%;*/
        border: 5px solid #3ce02d;
        padding: 2px;
        border-style:groove;
        /*border-width:3px*/
        border-radius: 5px;
    }
    /*.btn{*/
    /*    display:none;*/
    /*}*/
</style>
<script>
$(document).ready(function () {
    $('#reviewSubmit').on("click", function(){
        $.ajax({
            type        : 'POST',
            url         : '/review/add',
            dataType    : 'json',
            data: { isbn:$('#isbn').val(), review:$('#review').val(), rating:$('#rating').val() },
            success: function(data){
                alert('successful');
                console.log(data); 
            }
            
      });//end ajax call
      
    
    });//end submit button 
    
    $.ajax({
       type:"GET",
       url:'/review/get',
       dataType: 'json',
       data: { bookId:$('#bookId').val() },
       success: function(data){
           alert("yes"); 
           console.log(data.reviews.length); 
           for(var x=0; x < data.reviews.length; x++){
               console.log();
               console.log(data.reviews[x]);
               $('#reviewContainer').append(`<br><p class="reviewContainer"><span class="miniContainer2">User ${data.reviews[x].userId} said:</span></br><br> <span class="miniContainer">${data.reviews[x].review}<span></p><br>`);
           }
       }
    });    

});//end DOM
</script>

<h1>{{title}}</h1>
<p>Review Page for: {{title}}</p>

<body>
    <form class="center" name="bookdisplay" action='/' method='GET'>
            <!--this is to display product-->
        <div class="grid-container">
        {{!--<% bookInfo.forEach(function(b) { %>--}}
            <div class="card" style="width: 18rem;">
                {{!--<img src="http://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg" id="book" isbn="{{isbn}}">--}}
                <img src="{{book.coverImg}}">
                <div class="card-body">
                <h5 class="card-title">{{book.name}}</h5>
                <p>by {{book.author}}</p>
                <p class="card-text"><b>ISBN:{{ book.ISBN}}</b></p>
                </div>
                
            </div>
                {{!--<% }) %>--}}
        </div>  
    </form>
<div class="center" id="review section" name="reviews">
    {{!--<form name="commentBox" action="/review/add" method="post">--}}
        <div>
            <textarea id="review" name="review">Comments</textarea>
        </div>
        <div class="btn">
            <input id="reviewSubmit" type="submit" value="Submit" name="reviewSubmit">
            <input id="isbn" value="{{book.ISBN13}}" name="isbn">
            <input id="rating" value="0" name="rating">
            <button id="reviewEdit">Edit</button>
            <button id="reviewDelete">Delete</button>
            <input id="bookId" value="{{book.bookId}}" >
            
        </div>
    {{!--</form>--}}
</div>

<div id="reviewContainer" class="reviewContainer">
    <p>All Comments for <strong>{{book.name}}</strong>:</p>
    
</div>
<br></br>
    
    <div>
        Quick Nav:
        <li class=none><a href="/">Home</a></li>
        <li class=none><a href="/reviews">Refresh <strong>THIS</strong> Page</a></li>
    </div>
    
    
        
</body>




  {{!--   $.ajax({--}}
  {{!--      type        : 'GET',--}}
  {{!--      url         : '/review/add',--}}
  {{!--      dataType    : 'json',--}}
  {{!--      success: function(data){--}}
  {{!--          alert('successful');--}}
            
            
  {{!--      }--}}
  {{!--});//end ajax call--}}
    