{{>nav}}

<style>
/*global$*/
    .review{
        background-color:maroon;
        /*background-image: url("/public/images/202978.jpg");*/
    }
    .center{
    display:flex; 
    padding:8px;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    /*border:2px solid #333;*/
    /*padding:15px 10px;*/
    justify-content:center;
    }
    body{
        /*background-color: grey;*/
        background-image: url("/images/202978.jpg");
        height: 500px;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    textarea{
        border: none;
        border-bottom: 2px solid #aaa;
        background-color: transparent;
        resize: none; 
        outline: none;
        transition: .5s;
    }
    input[type="submit"], button{
        padding: 10px 15px;
        border: none;
        outline:none;
        border-radius: 5px;
        text-transform:uppercase; 
        font-weight:bold;
        /*cursor:pointer;*/
    }
    input[type="submit"]{
        color: red;
        background-color: #273c75;
    }
    button{
        color: black;
        background-color:transparent;
    }
    .reviewContainer
    {
        margin: auto;
        width: 50%;
        border: 12px solid black;
        padding: 10px;
        border-style:groove;
        border-width:8px;
        /*flex:;*/
    } 
    .miniContainer{
        margin: auto;
        background-color:navy;
        /*width: 50%;*/
        border: 50px solid black;
        padding: 2px;
        border-style:dotted;
        border-width:3px;
        justify-content:center;
    }
    .cbox{
        /*margin:auto;*/
        background:rgba(50, 96, 97, 0.4);
        width: 600px;
        /*opacity: 0.2;*/
    }
    .miniContainer2{
        margin: auto;
        justify-content:center;
        background-color:#374c9e;
        /*width: 50%;*/
        border: 5px solid #3ce02d;
        padding: 2px;
        border-style:groove;
        /*border-width:3px*/
        border-radius: 5px;
    }
    .hideMe{
        display:none;
    }
    /*.btn{*/
    /*    display:none;*/
    /*}*/
</style>
<script>
/*global $*/
$(document).ready(function () {
    $('#reviewSubmit').on("click", function(){
        $.ajax({
            type        : 'POST',
            url         : '/review/add-review',
            dataType    : 'json',
            data: { isbn:$('#isbn').val(), review:$('#review').val(), rating:$('#rating').val() },
            success: function(data){
                alert('Submit successful, thank you for your comment!');
                console.log(data); 
            }
            
      });//end ajax call
      
    
    });//end submit button 
    
    //load all comments 
    $.ajax({
       type:"GET",
       url:'/review/get-review',
       dataType: 'json',
       data: { bookId:$('#bookId').val() },
       success: function(data){
           alert("Welcome to the review page, loading all reviews!"); 
           console.log(data.reviews.length); 
           for(var x=0; x < data.reviews.length; x++){
               console.log(data.reviews[x]);
               $('#reviewContainer').append(`<br><p class="reviewContainer"><span class="miniContainer2">User ${data.reviews[x].userId} said:</span></br><br> <span class="miniContainer">${data.reviews[x].review}<span></p><br>`);
           }
       }
    });//end ajax comment loading    

    
});//end DOM
</script>

<h1 class="miniContainer">Review Page: {{book.name}}</h1>

<body>
    <form class="center" name="bookdisplay" action='/' method='GET'>
            <!--this is to display product-->
        <div class="grid-container">
        {{!--<% bookInfo.forEach(function(b) { %>--}}
            <div class="card" style="width: 18rem;">
                {{!--<img src="http://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg" id="book" isbn="{{isbn}}">--}}
                <img src="{{book.coverImg}}">
                <div class="card-body">
                <h5 class="card-title">{{book.name}}</h5>
                <p>by {{book.author}}</p>
                <p class="card-text"><b>ISBN:{{ book.ISBN10}}{{book.ISBN13}}</b></p>
                </div>
                
            </div>
                {{!--<% }) %>--}}
        </div>  
    </form>
<div class="center" id="review section" name="reviews">
                Rating:<select id=ratingDropDown>
                <option id="rating0" value="0">0</option>
                <option id="rating1" value="1">1</option>
                <option id="rating2" value="2">2</option>
                <option id="rating3" value="3">3</option>
                <option id="rating4" value="4">4</option>
                <option id="rating5" value="5">5</option>
                <option id="rating6" value="6">6</option>
                <option id="rating7" value="7">7</option>
                <option id="rating8" value="8">8</option>
                <option id="rating9" value="9">9</option>
                <option id="rating10" value="10">10</option>
                </select><br>
    {{!--<form name="commentBox" action="/review/add" method="post">--}}
        <div>
            <textarea class="cbox" id="review" name="review" cols="100">Click here to comment!</textarea>

        </div>
        <div class="btn">

            <input id="reviewSubmit" type="submit" value="Submit" name="reviewSubmit">
            
            <span class="hideMe">
                <p class="center">Debug Box:</p>
                Rating:  <input id="rating" value="0" name="rating">
                BookID:  <input id="bookId" value="{{book.bookId}}" >
                BookISBN:<input id="isbn" value="{{book.ISBN10}}{{book.ISBN13}}{{book.ISBN}}" name="isbn">
            </span>
        </div>
    {{!--</form>--}}

</div>
    <p class="center">
            <button id="reviewEdit">Edit</button>
            <button id="reviewDelete">Delete</button>
    </p>
<div id="reviewContainer" class="reviewContainer">
    <p>All Comments for <strong>{{book.name}}</strong>:</p>
    
</div>
<br></br>
    
    <div>
        Quick Nav:
        <li class=none><a href="/">Home</a></li>

    </div>
    
    
        
</body>




  {{!--   $.ajax({--}}
  {{!--      type        : 'GET',--}}
  {{!--      url         : '/review/add',--}}
  {{!--      dataType    : 'json',--}}
  {{!--      success: function(data){--}}
  {{!--          alert('successful');--}}
            
            
  {{!--      }--}}
  {{!--});//end ajax call--}}
    