{{>nav}}
<style>
    .review{
        /*background-color:maroon;*/
        background-image: url('/CST438_Project3/public/images/bck.jpg');
    }
    .center{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    justify-content:center;
    }
</style>
<script src="./javascripts/reviews.js"></script>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


    <form class="review" name="bookdisplay" action='/' method='GET'>
            <!--this is to display product-->
        <div class="grid-container">
        {{!--<% bookInfo.forEach(function(b) { %>--}}
            <div class="card" style="width: 18rem;">
                <img src="http://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg" id="book" isbn="{{isbn}}">
                <div class="card-body">
                <h5 class="card-title">{{book.name}}</h5>
                <p>by {{author}}></p>
                <p class="card-text"><b>ISBN:{{ book.ISBN}}</b></p>
                </div>
            </div>
                {{!--<% }) %>--}}
        </div>  
    </form>
    <br><br><br><br><br>
<div id="review section" name="reviews">
    REVIEW SECTION TO DO:
        -item display 
        -review box under item
        -500 char limit 
        box todo list
        -500 char limit 
        review box
        -edit buttons 
            ->post
            ->edit
            ->delete
    <form name="commentBox"action="/CST438_Project3/routes/reviews.js" method="post">
    <div>
    <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
    Comments
    </textarea>
    </div>
    <input type="submit" value="Submit">
    </form>
        <li class=center><a href="/">Home(refresh)</a></li>
        <li class=center><a href="/reviews">Refresh Page</a></li>
